*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    font-size: 62.5%;
}
body, input, textarea{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}

.logo p{
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

header, h2, h3, button{
    font-family: 'Bungee', cursive;
    font-weight: normal;
    letter-spacing: 1px;
}

header{
    padding: 1.3rem;
    background-color: #182C61;
    color: #ecf0f1;
    position: sticky;
    top: 0;
    left: 0;
}

header nav li{
    display: inline;
    margin-left: 1.6rem;
    color: #ecf0f1;
    font-size: 1.8rem;
}
header nav li a:hover{
    color: rgb(167, 167, 255);
}
header nav li a{
    color: #ecf0f1;
    transition: 300ms;
}
header .container,
section .container{
    max-width: 128rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container img{
    height: 40rem;
    border-radius: 0.5rem;
}
.brands-list{
    display: flex;
    gap: 1rem;
}
.brands-list img{
    height: 3.4rem;
    width: auto;
}
.social-links img{
    height: 2.4rem;
}
ul li{
    display: inline;
    list-style: none;
}
section .container{
    align-items: flex-start ;
    gap: 3.4rem;
}

section{
    padding: 2.4rem 0;
    color: #182C61;
}
section h2{
    margin-bottom: 1.6rem;
    line-height: 3.4rem;
    
}
section p{
    margin-bottom: 0.8rem;
    line-height: 2rem;
}
#contact .container{
    display: block;
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input, form textarea, form button{
    display: block;
    width: 32rem;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border-radius: 4px;
    outline-color: #182C61;
}
input{
    border: 1px solid gray;
}
textarea{
    resize: none;

}

form button{
    background-color: #182C61;
    color: #ecf0f1;
    border: none;
    transition: 300ms;
    cursor: pointer;
}
form button:hover{
    background-color: #3858b3;
}

footer{
    background-color: #182C61;
    color: #ecf0f1;
    padding: 1.6rem 0;
    text-align: center;
}
